<div class="auth-container">
  <h2>Register</h2>

  <input type="text" placeholder="Name" [(ngModel)]="name" />
  <input type="email" placeholder="Email" [(ngModel)]="email" />
  <input type="password" placeholder="Password" [(ngModel)]="password" />

  <select [(ngModel)]="role">
    <option value="CUSTOMER">Customer</option>
    <option value="SUPPLIER">Supplier</option>
  </select>

  <button (click)="register()">Register</button>
  <p class="success" *ngIf="successMessage">{{successMessage}}</p>
<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  <p>
    Already have an account?
    <span (click)="goToLogin()">Login</span>
  </p>
</div>
