@import '../login/login.css';

select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}
.success{
  color: green;
  margin-top: 10px;
  font-size: 14px;
}
.error{
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
