.title {
  font-size: 26px;
  margin-bottom: 20px;
}

.orders-table table {
  width: 100%;
  border-collapse: collapse;
}

.orders-table th,
.orders-table td {
  padding: 14px;
}

.orders-table th {
  background: #1e293b;
}

.orders-table tr:nth-child(even) {
  background: #020617;
}

.status {
  padding: 6px 12px;
  border-radius: 20px;
  background: #22c55e;
  color: #022c22;
  font-size: 13px;
}

.view-btn {
  background: #38bdf8;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #020617;
  padding: 25px;
  border-radius: 16px;
  width: 600px;
}

.items-table {
  width: 100%;
  margin-top: 15px;
}

.items-table th,
.items-table td {
  padding: 10px;
}

.close-btn {
  margin-top: 15px;
  background: #ef4444;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
}